abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle;line-height:normal;}

@font-face {
    font-family: 'noto-sans-regular', sans-serif;
    src: url('/assets/fonts/NotoSans-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family:'noto-sans-bold', sans-serif;
    src: url('/assets/fonts/NotoSans-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'museo-sans-rounded-900';
    src: url('/assets/fonts/MuseoSansRounded-900.ttf');
    font-display: swap;
}

:root {
    --primary-theme: #FFC107FF;
    --primary-theme-transparent: #FFC107E6;
    --primary-link: #0D6EDF;
    --background-primary: #fff;
    --background-secondary: #ebeef1;
    --surface-primary: #fff;
    --surface-secondary: #ebeef1;
    --surface-critical-weak: #ffe8ed;
    --surface-critical-strong: #c72a3d;
    --surface-warning: #ffe9e3;
    --surface-highlight: #e1f0ff;
    --surface-success-weak: #d1f6e2;
    --surface-success-strong: #007850;
    --surface-gyg: #ff5533;
    --surface-disabled: #ebeef1;
    --surface-loader: #31343d;
    --label-primary: #1a2b49;
    --label-secondary: #63687a;
    --label-tertiary: #858995;
    --label-quaternary: #fff;
    --label-critical: #c72a3d;
    --label-warning: #a65200;
    --label-success: #007850;
    --label-gyg: #ff5533;
    --label-on-color: #fff;
    --interactive-primary: #0071eb;
    --interactive-primary-hovered: #304c84;
    --interactive-primary-pressed: #304c84;
    --interactive-primary-disabled: #dcdfe4;
    --interactive-secondary: #e1f0ff;
    --interactive-secondary-hovered: #c7e2ff;
    --interactive-secondary-pressed: #c7e2ff;
    --interactive-secondary-disabled: #bfc7cf;
    --interactive-tertiary: #1a2b49;
    --interactive-tertiary-hovered: #1e335a;
    --interactive-tertiary-pressed: #1e335a;
    --interactive-tertiary-disabled: #81beff;
    --interactive-quaternary: #fff;
    --interactive-quaternary-hovered: #dcdfe4;
    --interactive-quaternary-pressed: #dcdfe4;
    --interactive-quaternary-disabled: #bfc7cf;
    --interactive-critical: #c72a3d;
    --interactive-critical-hovered: #951d2b;
    --interactive-critical-pressed: #951d2b;
    --interactive-critical-disabled: #dcdfe4;
    --on-interactive-primary: #fff;
    --on-interactive-secondary: #0071eb;
    --on-interactive-tertiary: #fff;
    --on-interactive-quaternary: #1a2b49;
    --on-interactive-critical: #fff;
    --on-interactive-disabled: #858995;
    --border-primary: #dcdfe4;
    --border-primary-hovered: #0071eb;
    --border-primary-pressed: #0071eb;
    --border-primary-focused: #0071eb;
    --border-primary-error: #c72a3d;
    --border-primary-disabled: #ebeef1;
    --border-secondary: #ebeef1;
    --separator-primary: #ebeef1;
    --separator-secondary: #dcdfe4;
    --decorative-guiding-red: #ff5533;
    --decorative-poolside-blue: #81beff;
    --decorative-plant-green: #a1d55d;
    --decorative-flamingo-pink: #f4cdd7;
    --decorative-basking-yellow: #ffd938;
    --decorative-midnight-blue: #1a2b49;
    --decorative-badge-blue: #1593ff;
    --decorative-badge-brown: #925a49;
    --decorative-badge-dark-blue: #1e2c48;
    --decorative-badge-dark-orange: #ed5f40;
    --decorative-badge-green: #5dc679;
    --decorative-badge-orange: #ff8e42;
    --decorative-badge-pink: #ff7083;
    --decorative-badge-purple: #391f5b;
    --decorative-badge-teal: #255a60;
    --decorative-badge-yellow: #f7c744;
    --supportive-transparent: transparent;
    --supportive-over-view-20: rgba(26, 43, 73, .2);
    --supportive-over-view-50: rgba(26, 43, 73, .5);
    --supportive-over-image-20: rgba(25, 27, 32, .2);
    --supportive-over-image-50: rgba(25, 27, 32, .5);
    --font-family-notosans-regular: 'noto-sans-regular', 'sans-serif';
    --font-family-notosans-bold: 'noto-sans-bold', 'sans-serif';
    --font-family-museosansrounded-900: 'museo-sans-rounded-900', 'sans-serif';
}

/* General */

* {
    box-sizing: border-box;
}

/*a {*/
/*    color: var(--primary-link);*/
/*    transition: filter 0.3s;*/
/*}*/

/*a:hover {*/
/*    filter: brightness(80%);*/
/*}*/

/* Header */
.body__background {
    background-image: url('../images/background.svg');
    background-size: cover;
    background-attachment: fixed;
}

.header__container {
    position: sticky;
    top: 0;
    background-color: var(--primary-theme);
    z-index: 100;
    transition: background-color 0.3s;
}
.header__container.transparent {
    background-color: var(--primary-theme-transparent);
}
.header__container > nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.header__container > nav > div {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.header__container > nav > div:first-child {
    justify-content: start;
    margin-left: 12px;
}
.header__container > nav > div:last-child {
    justify-content: end;
    margin-right: 12px;
}
.nav__button {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}
.nav__button:hover {
    opacity: 0.8;
}
.nav__button--sidebar {
    background-image: url('/assets/images/nav/icon-sidebar.svg');
}
.nav__button--home {
    background-image: url('/assets/images/nav/icon-logo.svg');
}
.nav__button--search {
    background-image: url('/assets/images/nav/icon-search.svg');
    background-size: 24px;
}
.nav__button--favourite {
    background-image: url('/assets/images/nav/icon-favourite.svg');
    background-size: 24px;
}
.nav__button--language {
    background-image: url('../images/globe.svg');
    background-size: 24px;
}
.nav__button--cart {
    background-image: url('../images/bag.svg');
    background-size: 24px;
}

/* Footer */
.footer__container {
    min-height: 56px;
    font-family: var(--font-family-notosans-regular);
    font-size: 0.5rem;
    line-height: 1.2;
    text-transform: capitalize;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
}

.footer__button {
    display: flex;
    padding-left: 8px;
}

.footer__button > a {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 30px;
}

.footer__button--facebook {
    background-image: url('../images/facebook.svg');
}

.footer__button--whatsapp {
    background-image: url('../images/whatsapp.svg');
    margin: 0 8px;
}

.footer__button--instagram {
    background-image: url('../images/instagram.svg');
}

/* Main */
body > main {
    min-height: calc(100dvh - 38px - 56px);
}

.main__eshop {
    padding: 12px;
}

.main__eshop h1 {
    font-family: var(--font-family-museosansrounded-900);
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 16px 0;
}

.main__eshop h2 {
    font-family: var(--font-family-museosansrounded-900);
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 16px 0;
}

.main__eshop h3 {
    font-family: var(--font-family-museosansrounded-900);
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 16px 0;
}

.main__eshop section {
    font-family: var(--font-family-notosans-regular);
    line-height: 1.25;
}

.cart-item__container {
    background-color: var(--background-primary);
    border: 2px solid var(--border-primary);
    border-radius: 8px;
}

.cart-item__container.hidden {
    display: none;
}

.cart-item__container.slide-out {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100%);
    opacity: 0;
}

.cart-item__container:not(:last-child) {
    margin-bottom: 12px;
}

.cart-item__content--empty {
    padding: 12px;
}

.cart-item__content {
    font-size: 0.875rem;
    position: relative;
    display: grid;
    grid-template-areas:
        "image info"
        "details details"
        "footer footer";
    grid-template-columns: 72px auto;
    column-gap: 12px;
    padding: 12px;
}

.cart-item__image {
    grid-area: image;
    width: 72px;
    height: 72px;
    margin-right: 12px;
}

.cart-item__image img {
    width: 72px;
    height: 72px;
    border-radius: 6px;
}

.cart-item__info {
    grid-area: info;
    align-self: start;
}

.cart-item__title {
    font-size: 1rem;
    font-family: var(--font-family-notosans-bold);
    color: var(--label-primary);
}

.cart-item__brief {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.cart-item__details {
    grid-area: details;
    font-size: 0.875rem;
    line-height: 1.25;
    border-top: 1px solid var(--border-primary);
    padding: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.cart-item__details > div {
    display: flex;
    align-items: center;
    background-position: 2px center;
    background-repeat: no-repeat;
    padding-left: 24px;
}

.cart-item__details-time {
    background-image: url('/assets/images/eshop/general/clock.svg');
    background-size: 16px;
}

.cart-item__details-participant {
    background-image: url('/assets/images/eshop/general/people.svg');
    background-size: 16px;
}

.cart-item__details-speaking {
    background-image: url('/assets/images/eshop/general/chat.svg');
    background-size: 16px;
}

.cart-item__footer {
    grid-area: footer;
    border-top: 1px solid var(--border-primary);
    display: flex;
    align-items: end;
    padding: 12px;
}

.cart-item__footer--border {
    border-top: 2px solid var(--border-primary);
}

.cart-item__buttons {
    display: flex;
    gap: 8px;
    align-self: end;
}

.cart-item__button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px 12px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: var(--background-secondary);
    font-size: 0.875rem;
}

.cart-item__button:hover {
    background-color: var(--interactive-primary-disabled);
}

.cart-item__delete {
    width: 40px;
    background-image: url('/assets/images/eshop/general/trash.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.cart-item__price {
    flex-grow: 1;
    font-weight: 500;
    white-space: nowrap;
    text-align: right;
}

.cart-summary__container {
    background-color: var(--background-primary);
    border: 2px solid var(--border-primary);
    border-radius: 8px;
    margin-top: 32px;
}

.cart-summary__total {
    font-family: var(--font-family-notosans-bold);
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.cart-summary__price {
    text-align: right;
}

.cart-summary__fees {
    font-family: var(--font-family-notosans-regular);
    font-size: 0.75rem;
    color: var(--label-success);
}

.cart-summary__buttons {
    padding: 12px;
}

.cart-button {
    display: block;
    width: 100%;
    text-align: center;
    font-family: var(--font-family-notosans-regular);
    font-size: 0.9rem;
    line-height: 1.375rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--on-interactive-primary);
    background: var(--interactive-primary);
    padding: 9px 24px;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: background .3s;
}

.cart-button:hover {
    background: var(--interactive-primary-hovered);
    color: var(--on-interactive-primary);
}

.cart-button__inverted {
    color: var(--interactive-primary);
    background: var(--background-primary);
    border: 2px solid var(--interactive-primary);
}

.cart-button__inverted:hover {
    color: var(--interactive-primary-hovered);
    background: var(--background-primary);
    border-color: var(--interactive-primary-hovered);
}

.cart-button:disabled {
    color: var(--on-interactive-disabled);
    border-color: var(--interactive-primary-disabled);
    background: var(--background-primary);
    cursor: not-allowed;
}

.cart-link {
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 500;
    color: var(--interactive-primary);
    border: none;
    text-decoration: none;
    background: transparent;
    border: 0;
    padding: 4px 0;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease-out;
}

.cart-link:hover {
    color: var(--interactive-primary-hovered);
}

.modal-dialog {
    display: none;
    font-family: var(--font-family-notosans-regular);
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    background: rgba(0,0,0,.5);
    z-index: 99999;
    inset: 0;
    position: fixed;
    overflow: hidden;
    pointer-events: auto;
}

.modal-dialog.show {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-dialog .datepicker {
    margin: auto;
}

.modal-dialog .datepicker .view-switch {
    pointer-events: none;
}

.modal-dialog__container {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    border: 1px solid var(--border-primary);
    box-shadow: 0 0 64px #00000014, 0 8px 16px #00000029;
    background-color: var(--surface-primary);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    width: 458px;
    max-width: calc(100% - 24px) !important;
}

.modal-section.hidden {
    display: none;
}

.modal-dialog__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.modal-header__title {
    font-family: var(--font-family-notosans-bold);
    font-size: 1.25rem;
    line-height: 1.25;
}

.modal-header__button {
    position: absolute;
    right: 0;
}

.modal-header__button button {
    color: var(--interactive-primary);
    background: var(--background-primary);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header__button button:hover {
    color: var(--interactive-primary-hovered);
}

.divider__container {
    user-select: none;
    color: var(--label-tertiary);
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--separator-primary);
    height: 1px;
    margin: 32px 0;
}

.divider__text {
    line-height: 1.25;
    padding: 0 8px;
    background-color: var(--surface-primary);
}

.modal-dialog__content p {
    font-size: 0.875rem;
    line-height: 1.375;
    font-weight: 500;
}

.modal-dialog__content ul {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-dialog__content li a {
    color: var(--interactive-primary);
    text-decoration: none;
}

.modal-dialog__content li a:hover {
    text-decoration: underline;
}

.cart-social__buttons {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    margin: 24px auto;
}

.cart-social__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--label-primary);
    background-color: var(--background-primary);
    border: 2px solid var(--border-primary);
    border-radius: 5rem;
    transition: background-color 0.2s ease-out;
    padding: 8px 24px;
    cursor: pointer;
}

.cart-social__button:hover {
    background-color: var(--interactive-quaternary-hovered);
}

.input-group__container {
    margin-bottom: 8px;
}

.input-group__container .invalid-feedback {
    font-size: 0.8rem;
    line-height: 1.2;
    color: var(--label-critical);
    margin-top: 4px;
    padding-left: 4px;
}

.input-group__field {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    color: var(--label-primary);
    border: 2px solid var(--border-primary);
    border-radius: 8px;
    background: var(--background-primary);
    transition: border-color .3s;
}

.input-group__field label {
    color: var(--label-secondary);
    font-size: 0.75rem;
    line-height: 1;
    pointer-events: none;
    transition: transform 0.1s, font-size 0.1s;
}

.input-group__field input {
    border: 0;
    outline: 0;
    padding: 2px 0;
    width: 100%;
    color: var(--label-primary);
    font-size: 1rem;
    line-height: 1.375;
}

.input-group__field--focus {
    border-color: var(--border-primary-focused);
}

.input-group__field--focus label {
    color: var(--interactive-primary);
}

.input-group__phone {
    display: flex;
}

.input-legend {
    font-size: 0.9rem;
    font-family: var(--font-family-notosans-bold);
    color: var(--label-primary);
    margin-bottom: 8px;
}

.input-legend--remark {
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-family-notosans-regular);
    margin-bottom: 16px;
}

.input-group__tips {
    color: var(--label-secondary);
    font-size: 0.875rem;
    line-height: 1.25;
    margin-top: 4px;
    padding-left: 4px;
}

.input-group__phone select {
    font-size: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    background-color: var(--supportive-transparent);
    border: 2px solid var(--border-primary);
    border-right: none;
    border-radius: 8px 0 0 8px;
    -webkit-appearance: none;
}

.input-group__country {
    width: 100%;
    max-width: 96px;
    position: relative;
}

.input-group__country label[for="country"] {
    display: none;
}

.input-group__country span {
    position: absolute;
    background-color: var(--background-primary);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 26px;
    z-index: -1;
}

.input-group__country svg {
    position: absolute;
    top: 21px;
    right: 8px;
    z-index: -1;
}

.input-group__phone .input-group__field {
    flex: 1;
    border-radius: 0 8px 8px 0;
}

#modal--cart-login .cart-link {
    margin: 0 0 32px 0;
}

#modal--cart-login .cart-link__forget-password {
    float: right;
    font-size: 0.75rem;
    line-height: 1.25rem;
    display: block;
    padding: 0;
    margin: 0 0 8px 0;
}

#modal--cart-forget.modal-section p {
    margin-bottom: 16px;
}

#modal--cart-reset.modal-section p {
    margin-bottom: 24px;
}

/* Checkout */
.checkout-item__container {
    background-color: var(--background-primary);
    border: 2px solid var(--border-primary);
    border-radius: 8px;
}

.checkout-item__container .cart-item__content {
    padding: 12px;
}

.checkout-item__container .cart-item__footer {
    font-family: var(--font-family-notosans-bold);
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 12px;
    justify-content: space-between;
    margin-top: 0;
}

.checkout-item__container .divider__container {
    border-width: 2px;
    margin: 0;
}

.checkout-item__container .cart-summary__total.cart-summary__total--expanded {
    background-color: var(--surface-secondary);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cart-personal__container button[type='submit'] {
    margin-top: 16px;
}

.checkout-item__subtitle {
    font-family: var(--font-family-notosans-regular);
    font-size: 0.9rem;
    line-height: 1.25;
    color: var(--label-success);
    padding-left: 20px;
    background-image: url('images/shield-lock.svg');
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 8px;
}

.payment-method__subtitle {
    font-family: var(--font-family-notosans-regular);
    font-size: 0.9rem;
    line-height: 1.25;
    color: var(--label-success);
    padding-left: 20px;
    background-image: url('/assets/images/eshop/general/shield-lock.svg');
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 16px;
}

.payment-option {
    background: var(--background-primary);
    border: 2px solid var(--border-secondary);
    border-radius: 8px;
    padding: 16px 24px;
}

.payment-option:not(:last-child) {
    margin-bottom: 12px;
}

.payment-option.payment-option--select {
    border-color: var(--border-primary-focused);
}

.payment-option__radio {
    display: flex;
    align-items: center;
}

.payment-option__radio input[type='radio'] {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
    margin: 0;
    border: var(--label-secondary) 2px solid;
    transition: background-color .2s ease-out,border-color .2s ease-out;
    border-radius: 50%;
    flex-shrink: 0;
    -webkit-appearance: none;
}

.payment-option label {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1.375;
    color: var(--label-primary);
    cursor: pointer;
    padding-left: 8px;
}

.payment-option label:hover, .payment-option label:active, .payment-option label:focus {
    background-color: #FFF;
}

.payment-option label span {
    display: flex;
    align-content: center;
}

.payment-option__radio input[type='radio']:hover, .payment-option__radio input[type='radio']:active {
    border-color: var(--interactive-primary-hovered);
    background-color: var(--interactive-secondary);
}

.payment-option__radio input[type='radio']:checked {
    border-color: var(--interactive-primary-hovered);
    background-color: var(--interactive-primary-hovered);
    box-shadow: inset 0 0 0 .25em var(--on-interactive-primary);
}

.payment-description {
    max-height: 0;
    overflow: hidden;
}

.payment-option.payment-option--select .payment-description {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    padding-top: 12px;
}

.payment-description p {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25;
    margin: 12px 0;
}

.payment-description p small {
    display: block;
    color: var(--label-tertiary);
    font-size: 0.75rem;
    line-height: 1.25;
}

.payment-option button[type='submit'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--font-family-notosans-regular);
    font-size: 0.9rem;
    line-height: 1.375rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--on-interactive-primary);
    background: var(--interactive-primary);
    padding: 9px 24px;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: background .3s;
}

.payment-option button[type='submit']:hover {
    background: var(--interactive-primary-hovered);
}

.payment-option button[type='submit'] span {
    padding-left: 4px;
}

/* Complete */

.complete__message {
    font-family: var(--font-family-notosans-regular);
    line-height: 1.375;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.complete__message--svg {
    width: 15px;
}

.complete__message--text {
    padding-left: 12px;
}

.complete__message--success {
    color: var(--label-success);
}

.complete__message--error {
    color: var(--label-critical);
}

.complete__item > div {
    font-family: var(--font-family-notosans-regular);
    line-height: 1.375;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.complete__item > div:last-child {
    margin-bottom: 16px;
}

.complete__item > div > span {
    width: 100%;
}

.complete__item > div:before {
    content: "•";
    color: var(--label-gyg);
    margin-right: 8px;
    font-size: 1.5rem;
    width: 16px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
}

.history__container {
    font-family: var(--font-family-notosans-regular);
}

.history__content {
    border: 1px solid var(--border-primary);
    background-color: var(--background-primary);
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 12px;
}

.history-order__title {
    font-family: var(--font-family-notosans-bold);
    margin-bottom: 12px;
}

.history-order__instruction {
    color: var(--surface-success-strong);
    font-size: 0.8rem;
    line-height: 1.25;
    display: flex;
    margin-bottom: 8px;
}

.history-order__instruction span {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.history-order__instruction--pending {
    color: var(--decorative-badge-orange);
}

.history__info {
    color: var(--label-tertiary);
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin-bottom: 8px;
}

.history__info span {
    color: var(--label-primary);
    font-weight: 600;
}

.history__view {
    font-size: 0.8rem;
    color: var(--interactive-primary);
    text-decoration: none;
}

/* Order */
.order-item__container {
    background-color: var(--background-primary);
    border: 1px solid var(--border-primary);
    border-radius: 12px;
    padding: 12px 12px 4px 12px;
}

.order-item__order-no {
    color: var(--label-tertiary);
    line-height: 1.375rem;
}

.order-item__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35% 60%;
    grid-template-areas: "name name" "image brief";
    column-gap: 16px;
    row-gap: 8px;
}

.order-item__name {
    font-family: var(--font-family-notosans-bold);
    grid-area: name;
    color: var(--interactive-primary);
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 8px;
}

.order-item__image {
    grid-area: image;
}

.order-item__image img {
    width: 100%;
}

.order-item__brief {
    grid-area: brief;
    color: var(--label-primary);
}

.order-detail__content {
    margin-bottom: 24px;
    display: flex;
    flex-flow: row wrap;
}

.order-detail__content dt {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding: 0 8px 8px 0;
    flex-basis: 100%;
}

.order-detail__content dd {
    display: block;
    flex-basis: 100%;
    line-height: 1.25rem;
    font-weight: 500;
}

/*.order-detail__container {*/
/*    background-color: var(--background-primary);*/
/*    border: 1px solid var(--border-primary);*/
/*    border-radius: 12px;*/
/*    padding: 12px 12px 4px 12px;*/
/*}*/

.order-qr img {
    display: block;
}

.order-qr span {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 16px;
}

/* Item */
/* .item-main__section {
    font-family: var(--font-family-notosans-regular);
    border: 1px solid var(--border-primary);
    padding: 15px;
    border-radius: 8px;
    background-color: var(--background-primary);
} */

.item-main__image {
    margin-bottom: 12px;
}

.item-main__image img {
    width: 100%;
}

/* .item-main__section .swiper {
    padding-bottom: 30px;
}

.item-main__section .swiper-index {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #FFF;
    background-color: #666;
    border-radius: 15px;
    padding: 5px 10px;
    letter-spacing: 1px;
    z-index: 99;
} */

.item-main__brief {
    font-size: 0.875rem;
    line-height: 1.125;
    color: var(--label-secondary);
    text-transform: uppercase;
    margin-bottom: 4px;
 }

.item-main__title {
    font-family: var(--font-family-notosans-bold);
    font-size: 1.25rem;
    line-height: 1.375;
    margin-bottom: 12px;
}

.item-main__description {
    font-size: 0.9rem;
    line-height: 1.5;
}

.item-main__price {
    color: var(--label-primary);
    gap: 0 4px;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 32px 0 12px 0;
}

.item-main__price b {
    font-weight: 600;
}

.item-main__price .discount {
    color: var(--label-gyg);
}

.item-main__price .small {
    font-size: .875rem;
    line-height: 1.25rem;
}

.item-main__about h3 {
    font-family: var(--font-family-notosans-bold);
    font-size: 1.5rem;
    line-height: 1.875;
    display: block;
    margin: 32px 0 12px 0;
}

.item-main__list {
    margin-bottom: 24px;
}

.item-main__list-title {
    min-height: 26px;
    display: flex;
    align-items: flex-start;
    font-size: 0.9rem;
    line-height: 1.25;
    padding-left: 36px;
}

.item-main__list-title.item-main__list-title--remark {
    background: url("../images/exclamation-diamond.svg") no-repeat left top;
    background-size: 20px;
}

.item-main__list-title.item-main__list-title--cancel {
    background: url("../images/calendar-check.svg") no-repeat left top;
    background-size: 20px;
}

.item-main__list-title.item-main__list-title--duration {
    background: url("../images/clock.svg") no-repeat left top;
    background-size: 20px;
}

.item-main__list-title.item-main__list-title--tour {
    background: url("../images/headset.svg") no-repeat left top;
    background-size: 20px;
}

.item-main__list-description {
    font-size: 0.75rem;
    line-height: 1.25;
    color: var(--label-secondary);
    padding-left: 36px;
}

.item-main__list-description span {
    color: var(--label-critical);
}

.item-main__experience h3 {
    font-family: var(--font-family-notosans-bold);
    font-size: 1.5rem;
    line-height: 1.875;
    display: block;
    margin: 32px 0 12px 0;
}

.item-main__accordion {
    border-bottom: 1px solid var(--border-primary);
}

.item-main__accordion-header {
    font-family: var(--font-family-notosans-bold);
    line-height: 1.25;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.item-main__accordion-title {
    flex: 1;
}

.item-main__accordion-icon {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

.item-main__accordion-icon--rotate {
    transform: rotate(-180deg);
}

.item-main__accordion-icon svg {
    color: var(--interactive-primary);
}

.item-main__accordion-content {
    font-size: 0.9rem;
    line-height: 1.5;
    max-height: 100%;
    opacity: 1;
    /* padding-bottom: 16px; */
}

.item-main__accordion-content--hidden {
    padding-bottom: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.1s 0.1s;
}

.item-main__accordion-content ul {
    padding-left: 16px;
}

ul.item-main__accordion-content--include, ul.item-main__accordion-content--exclude {
    list-style: none;
    padding-left: 0;
}

.item-main__accordion-content--include li {
    padding-left: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23007850" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 1px;
}

.item-main__accordion-content--exclude li {
    padding-left: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23c72a3d" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg>');
    background-repeat: no-repeat;
    background-position: left 1px;
}

.item-main__accordion-content a {
    display: block;
    margin-top: 12px;
}

.item-option__section {
    font-family: var(--font-family-notosans-regular);
    background: var(--decorative-midnight-blue);
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 16px 16px 24px 16px;
    margin: 24px auto;
}

.item-option__header {
    font-size: 1.25rem;
    font-family: var(--font-family-notosans-bold);
    line-height: 1.875rem;
    font-weight: 700;
    color: var(--label-quaternary);
    flex-basis: 100%;
    /* text-align: center; */
    word-break: break-word;
    /* padding: 0 16px; */
    margin-bottom: 16px;
}

.item-option__input {
    background-color: var(--background-primary);
    display: flex;
    margin: 0 0 16px 0;
    height: 40px;
    border: 0;
    border-radius: 20px;
    padding: 0 16px;
    align-items: center;
    line-height: 0;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.item-option__icon {
    width: 100%;
}

.item-option__icon:before {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    left: 16px;
    top: 10px;
    pointer-events: none;
}

.item-option__icon--participant:before {
    background: url("../images/people.svg") no-repeat center;
    background-size: 20px 20px;
}

.item-option__icon--calendar:before {
    background: url("../images/calendar.svg") no-repeat center;
    background-size: 20px 20px;
}

.item-option__icon--language:before {
    background: url("../images/translate.svg") no-repeat center;
    background-size: 20px 20px;
}

.item-option__icon:after {
    transition: all .2s;
    border-top: 8px solid var(--label-primary);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 16px;
    pointer-events: none;
}

.item-option__input input {
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 32px;
}

.item-option__input select {
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 32px;
}

.item-option__caret {
    width: 0;
    height: 0;
    display: inline-block;
    transition: all .2s;
    border-top: 8px solid var(--label-primary);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    vertical-align: middle;
    position: absolute;
    right: 16px;
}

.item-time__section {
    font-family: var(--font-family-notosans-regular);
    background-color: var(--background-primary);
    border-radius: 12px;
    margin: 24px auto;
}

.item-time__header {
    font-family: var(--font-family-notosans-bold);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--interactive-primary);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-left: 2px solid var(--interactive-primary);
    border-right: 2px solid var(--interactive-primary);
    padding: 20px 16px 0;
}

.item-time__summary {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--interactive-primary);
    border-right: 2px solid var(--interactive-primary);
    padding: 12px 16px 0;
}

.item-time__summary ul {
    font-size: .875rem;
    line-height: 1.25rem;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    align-items: flex-start;
    row-gap: 16px;
    padding-bottom: 16px;
}

.item-time__summary li {
    padding-left: 28px;
}

.item-time__summary li.item-time__duration {
    background: url("../images/clock.svg") no-repeat left center;
    background-size: 20px 20px;
}

.item-time__summary li.item-time__address {
    background: url("../images/geo.svg") no-repeat left center;
    background-size: 20px 20px;
}

.item-time__slot {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--interactive-primary);
    border-right: 2px solid var(--interactive-primary);
    padding: 0 16px;
}

.item-time__slot > div {
    border-top: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
    padding: 16px 0;
}

.item-time__start {
    font-family: var(--font-family-notosans-bold);
    font-size: 1rem;
    line-height: 1.375rem;
}

.item-time__button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 16px;
}

.item-time__button button {
    font-size: 1rem;
    line-height: 1.375rem;
    cursor: pointer;
    transition: border-color .3s ease;
    border-radius: 8px;
    flex-shrink: 0;
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: center;
    color: var(--label-primary);
    background-color: var(--supportive-transparent);
    border: 2px solid var(--border-primary);
    min-width: 92px;
    margin: 0 8px 8px 0;
    padding: 8px 16px;
}

.item-time__button button.item-time__button--active, .item-time__button button:not(:disabled):hover {
    color: var(--label-on-color);
    background-color: var(--interactive-primary-hovered);
    border-color: var(--interactive-primary-hovered);
}

.item-time__subtotal {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: var(--label-secondary);
    display: flex;
    justify-content: space-between;
    border-left: 2px solid var(--interactive-primary);
    border-right: 2px solid var(--interactive-primary);
    padding: 16px 24px;
}

.item-time__footer {
    border-bottom: 2px solid var(--interactive-primary);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 2px solid var(--interactive-primary);
    border-right: 2px solid var(--interactive-primary);
    display: flex;
    padding: 24px;
    background: var(--background-secondary);
    flex-direction: column;
    position: relative;
}

.item-time__title {
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: var(--label-secondary);
}

.item-time__price {
    font-family: var(--font-family-notosans-bold);
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: var(--label-primary);
}

.item-time__fee {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--label-secondary);
    margin-top: 4px;
}

.item-time__footer .cart-button {
    margin-top: 16px;
}

/* Items */
.items-card__section {
    display: grid;
    gap: 15px;
    padding: 15px;
}

.items-card__container {
    display: grid;
    border: 1px solid var(--border-primary);
    border-radius: 4px 4px 0 0;
    text-decoration: none;
}

.items-card__container:hover {
    cursor: pointer;
}

.items-card__image {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

.items-card__image img {
    display: block;
    width: 100%;
    border-radius: 4px 4px 0 0;
    transition: transform 0.3s;
}

.items-card__container:hover img {
    transform: scale(1.05);
}

.items-card__information {
    display: grid;
    gap: 8px;
    font-family: "Noto Sans Regular", sans-serif;
    color: var(--label-primary);
    background-color: var(--background-primary);
    padding: 8px;
}

.items-card__brief {
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 0.875rem;
    line-height: 1.125;
    color: var(--label-secondary);
    text-transform: uppercase;
}

.items-card__name {
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

.items-card__duration {
    font-size: 0.875rem;
    line-height: 1;
}

.items-card__price {
    font-family: "Noto Sans Regular", sans-serif;
}

.items-card__price .small {
    font-size: 0.875rem;
    line-height: 1.25;
}

.items-card__price .discount {
    color: var(--label-gyg);
}

.items-card__price b {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
}
