
:root {
  --c-primary: #E5A15C;
  --c-primary-dark: #663D14;
  --c-secondary: #1E2A4C;
  --c-secondary-dark: #0A1126;
  --c-white: #FEFAF1;
  --c-white-dark: #F8F0DF;
}

body{

}


/** plans **/
.elementor-price-table{ display: flex; flex-direction: column; height: inherit; }
.elementor-price-table .elementor-price-table__footer{ margin-top: auto; }

/* safari orz */
.elementor-136 .elementor-element.elementor-element-5c5b7767 img{ width: auto !important; }

/* price table */
.column-1{ width: 20%; } 
.column-2,.column-3, .column-4{ width: calc( 80% / 3 ); }  

body.elementor-page-700:not(.elementor-motion-effects-element-type-background), 
body.elementor-page-700 > .elementor-motion-effects-container > .elementor-motion-effects-layer { 
    background-color: var(--c-secondary);
}

/* WooCommerce */

/* message style */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background-color: #ffffff;
    border: none;
    border-left: 3px solid;
    box-shadow: 0 1px #ccc, 0 -1px #ccc, 1px 0 #ccc;
}
.woocommerce-message{ border-left-color:#8fae1b; }
.woocommerce-info{ border-left-color:#1e85be; }
.woocommerce-error{ border-left-color:#b81c23; }

/* 回商店按鈕 */
.woocommerce .return-to-shop .button.wc-backward{
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
    background-color: transparent;
}
.woocommerce .return-to-shop .button.wc-backward:hover{ border: 1px solid var(--c-primary-dark); color: var(--c-primary-dark); }

/* 未登入需求頁提示 */
.elementor-post__card .woocommerce-info{ 
    background-color: #f6f5f8;
    border: 1px solid #1e85be;
    box-shadow: none;
}

.woocommerce .woocommerce-info .button{
  border: 1px solid var(--c-primary) !important;
  color: var(--c-primary) !important;
  border-radius: 12px;
}
.woocommerce .woocommerce-info .button.wc-forward:hover{ border: 1px solid var(--c-primary-dark) !important; color: var(--c-primary-dark) !important; }


/* MyAccount */
.woocommerce-MyAccount-content-wrapper{ padding: 30px !important; background-color: #ffffff; border: 1px solid var(--c-white-dark) !important; }
.woocommerce-MyAccount-content-wrapper h2{ margin-top: 2rem !important; margin-bottom: 1rem !important; }

.woocommerce .woocommerce-MyAccount-navigation ul li { background-color: #ffffff; }
.elementor-widget-woocommerce-my-account .e-my-account-tab:not(.e-my-account-tab__dashboard--custom) .woocommerce a {
    background-color: transparent;
}
.elementor-widget-woocommerce-my-account .e-my-account-tab:not(.e-my-account-tab__dashboard--custom) .woocommerce a:hover {
   /*background-color: var(--c-primary) !important;*/
   color: var(--c-primary-dark) !important;
}

.elementor-widget-woocommerce-my-account .e-my-account-tab:not(.e-my-account-tab__dashboard--custom) .woocommerce .shop_table .button {
    background: var(--c-primary) !important;
    border-radius: 12px !important;
    border: 2px var(--c-primary) !important;
    color: #ffffff !important;
}
 

.woocommerce-Address .woocommerce-Address-title h3{ margin-bottom: 1rem; }


.woocommerce table.shop_table{
    border: 0px; border-bottom: 1px solid #d5d8dc;
}
.elementor-widget-woocommerce-my-account .e-my-account-tab:not(.e-my-account-tab__dashboard--custom) .woocommerce tbody .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-number>a,
.elementor-widget-woocommerce-my-account .e-my-account-tab:not(.e-my-account-tab__dashboard--custom) .woocommerce .order_details .product-name a{
    color: var(--c-primary) !important;
}

.membership-content-excerpt{ height: 1,5em;}

@media screen and (min-width:769px){
.membership-content-excerpt{ width: 30%; } 
.membership-content-actions{ width: 10%; text-align: right; }
}

/* Ultimate Member */
a.um-button, .um-button{
    border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
}
.um .um-button{
    background-color:var(--c-primary) !important; 
	color:#ffffff !important; 
}
.um .um-button:hover{
    background-color: var(--c-primary-dark) !important;
}

#um-submit-btn{
	background-color:var(--c-primary) !important; 
	color:#ffffff;
    font-size: 1rem;
}
#um-submit-btn:hover{
    background-color: var(--c-primary-dark) !important;
}

.um-request-button{
  background-color: transparent;
  color: var(--c-primary-dark);
  border: 1px solid var(--c-primary-dark);
}
.um-request-button:hover {
    background-color: var(--c-primary);
    border: 1px solid var(--c-primary);
    color: #ffffff;
}

.um .um-button.um-alt, .um input[type=submit].um-button.um-alt {
    color: var(--c-primary) !important;
    border:1px solid var(--c-primary) !important;
    background-color: transparent !important;
    box-shadow: none;
}
.um .um-button.um-alt:hover, .um input[type=submit].um-button.um-alt:hover {
    color: var(--c-primary-dark) !important;
    border:1px solid var(--c-primary-dark) !important;
}
.um .um-field-radio.active:not(.um-field-radio-state-disabled) i{ color: var(--c-primary); }

/*** um-login UM登入 ***/
.um-misc-with-img{ 
    border-bottom: 2px solid var(--c-white-dark);
}
.um-misc-ul { padding: 0; }
.um-misc-ul li{ 
    list-style: none; line-height: 2; font-size: 1rem;
    padding: 0; text-align: center; 
}

div.uimob500 .um-field-half {
  float: left;
}

/*** um-account UM帳戶 ***/
/* left side */
.um-account-side{
 border: 1px solid var(--c-white-dark);  
}
.um-account-meta{ margin-top: 20px; }

/* left-menu */
.um-account-side li { margin-bottom: 0px !important; background-color: var(--c-white); border-top: 1px solid var(--c-white-dark); }
.um-account-side li a{ padding: 0.5rem 1rem; font-size: 1.1rem; color: var(--c-primary-dark); }
.um-account-side li a:hover{ background: var(--c-white-dark); }

.um-account-side li a span.um-account-icon{ color: var(--c-primary-dark); }
.um-account-side li a span.um-account-title { padding-left: 0; color: var(--c-primary-dark); }


.um-account-side li a.current, 
.um-account-side li a.current:hover {
    color: #ffffff;
    background-color: var(--c-primary);
}
.um-account-side li a.current span.um-account-icon,
.um-account-side li a.current:hover span.um-account-icon{ color: #ffffff; }

.um-account-side li a.current span.um-account-title{ color: #ffffff; }


.um-account-side li a span.um-account-icon,
.um-account-side li a.current span.um-account-icon, 
.um-account-side li a.current:hover span.um-account-icon {
    border-right: 0px;
}






/* right-main */
.um-account-main{
    /*margin-left: var(--tab-content-spacing, 6%);*/
    /*border: 1px solid var(--c-white-dark);*/
    padding: 16px 30px;
    padding-left: var(--tab-content-spacing, 6%);
}
.um-account-main div.um-account-heading{ font-size: 1.5rem; }
.um-account-main a {
    border-bottom: 1px solid !important;
    border-radius: 12px; 
}

.um-field .select2.select2-container .select2-selection, 
.um-search-filter .select2.select2-container .select2-selection{
    border: 1px solid #dddddd !important;
    border-radius: 12px !important;
}
.um-field > label{ width: 100%; }





/** wpDiscuz **/
#wpdcom .wpd-auth .wpd-login a { color: var(--c-primary); }
#wpdcom .wpd-auth .wpd-login a:hover { color: var(--c-primary-dark); }

.wpdiscuz-textarea-wrap .wpd-avatar{ display: none; }
#wpdcom .ql-container { border-radius: 12px 12px 0 0; }
#wpdcom .ql-toolbar { border-radius: 0 0 12px 12px; }

#wpdcom .wpd_label__check i.wpdicon { border-radius: 12px; }
#wpdcom .wpd-second-button, #wpdcom .wpd-prim-button { padding: 10px 20px; border-radius: 12px; line-height: 1; box-shadow: none; }
#wpdcom .wpd-second-button:hover, #wpdcom .wpd-prim-button:hover { background-color: var(--c-primary-dark); }
#wpdcom .wpd-second-button{ border: 1px solid var(--c-primary); color: var(--c-primary); background-color: transparent; }
#wpdcom .wpd-second-button{ border: 1px solid var(--c-primary-dark); color: var(--c-primary-dark); background-color: transparent; }