
:root {
  --c-primary: #E5A15C;
  --c-primary-dark: #663D14;
  --c-secondary: #1E2A4C;
  --c-secondary-dark: #0A1126;
  --c-white: #FEFAF1;
  --c-white-dark: #F8F0DF;
}

body{

}


/* WooCommerce */


/* Ultimate Member */
a.um-button, .um-button{
    border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
}
.um .um-button{
    background-color:var(--c-primary) !important; 
	color:#ffffff !important; 
}
.um .um-button:hover{
    background-color: var(--c-primary-dark) !important;
}

#um-submit-btn{
	background-color:var(--c-primary) !important; 
	color:#ffffff;
}
#um-submit-btn:hover{
    background-color: var(--c-primary-dark) !important;
}


.um .um-button.um-alt, .um input[type=submit].um-button.um-alt {
    color: var(--c-primary);
    border:1px solid var(--c-primary) !important;
    background-color: transparent;
    box-shadow: none;
}
.um .um-button.um-alt:hover, .um input[type=submit].um-button.um-alt:hover {
    color: var(--c-primary-dark);
    border:1px solid var(--c-primary-darkt) !important;
}


/*** um-login UM登入 ***/
.um-misc-with-img{ 
    border-bottom: 2px solid var(--c-white-dark);
}
.um-misc-ul { padding: 0; }
.um-misc-ul li{ 
    list-style: none; line-height: 2; font-size: 1rem;
    padding: 0; text-align: center; 
}

/*** um-account UM帳戶 ***/

/* left side */
.um-account-side{
 border: 1px solid var(--c-white-dark);  
}

.um-account-side li { margin-bottom: 0px !important; background-color: var(--c-white); border-top: 1px solid var(--c-white-dark); }
.um-account-side li a{ padding: 0.5rem 1rem; font-size: 1.1rem; color: var(--c-primary-dark); }
.um-account-side li a.current, .um-account-side li a.current:hover {
    color: #ffffff;
    background-color: var(--c-primary);
}
.um-account-side li a span.um-account-icon,.um-account-side li a.current span.um-account-icon, .um-account-side li a.current:hover span.um-account-icon {
    border-right: 0px;
}
.um-account-meta{ margin-top: 20px; }

