
body{

}


/* WooCommerce */


/* Ultimate Member */
a.um-button, .um-button{
    border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
}

.um .um-button.um-alt, .um input[type=submit].um-button.um-alt {
    color: var(--e-global-color-primary);
    border: var(--e-global-color-primary) !important;
    background-color: transparent;
    box-shadow: none;
}
.um .um-button.um-alt:hover, .um input[type=submit].um-button.um-alt:hover {
    color: var(--e-global-color-accent);
    border:1px solid var(--e-global-color-accent) !important;
}

#um-submit-btn{
	background-color:var(--e-global-color-primary) !important; 
	color:#ffffff;
}
#um-submit-btn:hover{
    background-color: var(--e-global-color-accent) !important;
}
